.body{
    background-color: #121906;
}

.titulo{
    color: #9bcfe0;
    justify-content: center;
}

.reglas-list{
    list-style-type: disc;
    color: #00a7c7;
    font-family: "Playwrite NZ Basic", sans-serif;
}

p{
    color: #9bcfe0;
    font-family: "Playwrite NZ Basic", sans-serif;
    margin: 20px;
}

h1{
    color: #00a7c7;
    font-family: "Playwrite NZ Basic", sans-serif;
}