.body{
    background-color: black;
}

.titulo{
    color: #9bcfe0;
    justify-items: center;
}

.reglas-list{
    list-style-type: disc;
    color: #00a7c7;
    font-family: "Playwrite NZ Basic", sans-serif;
}

p{
    color: #9bcfe0;
    font-family: "Playwrite NZ Basic", sans-serif;
}