body{
    background-color: #121906;
}

.titulo{
    color: #D6BCC5;
    text-align: center;
}

.reglas-list{
    list-style-type: disc;
    color: #D6BCC5;
    font-family: "Playwrite NZ Basic", sans-serif;
}

p{
    color: #C96F8C;
    font-family: "Playwrite NZ Basic", sans-serif;
    margin: 20px;
}

h1{
    font-family: "Playwrite NZ Basic", sans-serif;
    color: #D6BCC5;
    text-align: center;
    padding: 20px;
}

