#listadeactividades{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.card{
    background-color: #121906;
    width: 200PX; 
    height: 200px;
}

.h2card{
    margin: 0px;
    padding: 10px;
    background-color: #C96F8C;
    color: #DED9DB;
    font-family: "Playwrite NZ Basic", sans-serif;
    font-size: 20px;
    height: 200px;
}