.h2card{
    margin: 10px;
    padding: 10px;
    background-color: #C96F8C;
    color: #DED9DB;
    font-family: "Playwrite NZ Basic", sans-serif;
    font-size: 20px;
}

#listadeactividades {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}
.card {
  height: 200px;
  background-color: #121906;
  color: #fff;
  padding: 10px;
  border: none;
}


