.container-fluid{
    background-color: #121906;
}

.navbar .navbar-brand{
    font-family: "Playwrite NZ Basic", sans-serif;
    color: #feab6b;
}

.nav-link{
    font-family: "Playwrite NZ Basic", sans-serif;
    color: #feab6b !important;
}