.navbar .navbar-expand-lg .bg-body-tertiary{
    background-color: black I !important;
}

.navbar .navbar-brand{
    font-family: "Playwrite NZ Basic", sans-serif;
    color: #feab6b;
}

.nav-link{
    font-family: "Playwrite NZ Basic", sans-serif;
    color: #feab6b !important;
}