.navbar{
    background-color: black;
}

.navbar-brand{
    font-family: "Playwrite NZ Basic", sans-serif;
    color: #feab6b;
}

.nav-link{
    font-family: "Playwrite NZ Basic", sans-serif;
    color: #feab6b;
}