.container-fluid{
    background-color: #121906;
}

.navbar-brand{
    font-family: "Playwrite NZ Basic", sans-serif;
    color: #C96F8C;
}

.nav-link{
    font-family: "Playwrite NZ Basic", sans-serif;
    color: #C96F8C !important;
}

