.navbar-collapse{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}

.nav{
    font-family: "Playwrite New Zealand Basic", font size;
    color: black;
}

.li{
    list-style: none;
}

.h1{
    display: flex;
    justify-content: center;
}