
.oculto{
    display: none;
    
}

.boton {
  padding: 20px;
  background-color: #C96F8C;
  color: #DED9DB;
  border-radius: 10px;
  
}


.botoninicio{
    width: 800px;
    height: 60px;
    background-color: #C96F8C;
    color: #DED9DB;
    border-radius: 10px;
    display: block;
    margin: auto;
}

